body {
  background-color: #c9a48c;
}
h1{
  color: black;
  font-size: 100px;
  font-family: 'Pirou', sans-serif;
  text-align: center;
  background-color: #9e7154;
  padding: 90px;
  margin: 0px;
}
h2{
  font-size: 60px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}
h3{
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: left;
}
h4{
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: left;
}
p{
  color: white;
  font-size: 28px;
  font-family: "Times New Roman";
  text-align: justify;
  background-color: #9e7154;
  padding: 15px;
  margin: 10px;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 10px;
  margin-bottom: 5px;
}
.menu a{
  color: black;
  font-size: 35px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  background-color: #9e7154;
  padding: 10px 20px;
  border-radius: 30px;
}
.icon {
  width: 135px;
  vertical-align: middle;
  margin-right: 10px;
}
.imagem{
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}